.hidden{
	width:1px;
	height:1px;
	border:0;
}

#map{
  margin-top: 150px;
  text-align: center;
  background-color: red;
  width:100%;
  height: 300px;
}

.info article{
  margin:3% 4%;
}

.reviewer{
    width: 120px;
    height: 120px;
}

.heart{
  width: 70%;
}

.heartarea{
  position:absolute; margin-left:25%;
}


.info article header{
	font-size:1.3em;
	font-weight:bold;
	margin-bottom:10px;
	
}

#menuTable,#detailTable {
    border-collapse: collapse;
    width: 35%;
    margin:0.5%;
}

#menuTable td, #menuTable th {
    border: 1px solid #ddd;
    padding: 7px;
}

#menuTable td:nth-child(2n-1){
	width:50%;
}

#menuTable tr:hover {
	color: #ff9166;
}

#menuTable th {
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fffbf2;
    color:#002833 ;
}



.reviewText{
	width:35%;
	height:35px;
	border: none;
    border-bottom: 2px solid grey;
	margin:20px;	
}
.reviewName{
	width:15%;
	height:35px;
	border: none;
    border-bottom: 2px solid grey;
	margin:20px;	
}

.reviewText:focus{
	background-color:#fffbf2;
	
}

.reviewName:focus{
	background-color:#fffbf2;

}

.reviewBtn{
	background-color:#002833; 
	border:1px solid #fffbf2; 
	color:white; 
	font-size:1.1em; 
	padding:5px;
	cursor:pointer	
}

.mailAddress{
	width:40%;
	height:40px;
	background-color:#fffbf2;
	border:3px solid #002833;
	font-size:0.8em
}

.mailAddress:focus {
    background-color:#ff9166;
    color:white;
}

.comment{
  width:100%;
  padding:5px;
}

.comment-content{
  float:left;
  margin:0 0 0 20px;
  width:80%;
}

.comment-content > span{
  line-height:150%;
  color:#444;
  background:#f5f5f5;
  display:block;
  width:100%;
  padding:10px 15px 10px 15px;
  font-size:.9em;
  display:block;
  position:relative;
  border-radius:3px;
  box-shadow:
    1px 1px 3px rgba(0,0,0,.3);}

.comment-content > span:before{
  content:'';
  position:absolute;
  top:10px;
  left:-28px;
  display:block;
  width:0;
  height:0;
  border:1em solid #f5f5f5;
  border-color:transparent #f5f5f5 transparent transparent; 
}

.comment p{
  font-family:'Open Sans';
  text-shadow:1px 1px 2px #fff;
}

.comment strong{font-weight:700;}
.comment .author{font-weight:300;font-size:.8em}

.comment img{
  float:left;
  max-width:120px;
  border-radius:60px;
  box-shadow:
    0 0 0 1px rgba(0,0,0,.2),
    0 0 0 7px rgba(200,200,200,1),
    0 0 0 9px rgba(175,175,175,1),
    0 0 20px rgba(0,0,0,.7);
  margin:20px 0 0 10px;
}
