.footer {
    background-color: #002833;
    padding:60px;
    padding-top: 10px;
    text-align: center;
    color: white
}

.subscribe{
    text-align: center;
    color: #002833;
    padding:70px 150px 100px 150px;
    padding-top:70px;
    font-size:1.5em;
    font-weight:bold;
}
	
.hrStyle{
    text-align: center;
	color: #002833;
	margin:10% 5% 1% 5%;	
}

.mailAddress{
	width:40%;
	height:40px;
	background-color:#fffbf2;
	border:3px solid #002833;
	font-size:0.8em
}

.mailAddress:focus {
    background-color:#ff9166;
    color:white;
}

.mailSendBtn{
	border: none;
	cursor: pointer;
	text-decoration: none;
	color:#fffbf2;
	background-color: #002833;
	padding:10px 17%;
	font-size:0.8em;
}

a.linkImg{
	padding:15px 5px;
	margin:25px 0;
}

a.linkImg > img{
	width:20px;
	height:20px;
}