.topnav {
   list-style-type: none;
   margin: 0;
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: white;
   color:#012c38;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size:1.8em;
    margin: 10px;
    margin-right:40px;
    cursor:pointer;
    
}

.topnav a.logo {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left:40px;
}

.topnav a:hover {
    color: #ff9166;
}
